body {
    color: #222;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, Arial;
    font-size: 20px;
    line-height: 1.4em;
}

h1, h2 {
    text-align: center;
}
