{% extends "layout.html" %}

{% block content %}
<section>
<h2>Small College Prep</h2>
</section>
<section>
<h3>Basic Rules</h3>
<ul>
	<li>Pretty much like our practices (as far as software and such goes)</li>
	<li>Teams of 4</li>
	<li>Only two at the computer at a time</li>
	<li>Bring as much reference material as you like</li>
	<li>Three Hours</li>
	<li>8-ish problems (sometimes more)</li>
</ul>
</section>
<section>
<h3>About the time</h3>
<p>The competition can fly by. The problems move fast, and many years all problems are solved. Time is of the essence.</p>
</section>
<section>
<h3>About the Two-At-A-Computer Thing</h3>
<p>
This generally is not a big deal. However, do be prepared to pair program (which is a good thing).
</p>
</section>
<section>
	<section>
	<h3>Bring As Much Reference Material as You Like</h3>
	<p>
	This is not as useful as you think. A lot of people like to bring big thick algorithms books, and then rarely consult
	them. Look at old competitions and you'll see why.
	</p>
	</section>
	<section>
	<h3>Then What Should You Bring?</h3>
	<p>
	Research past competitions, and bring according to what makes sense. Here's my recommendation: Bring small code
	snippets on how to do various tasks
	</p>
	<ul>
		<li>Reading input</li>
		<li>Printing and formatting output (<code>printf</code> and friends)</li>
		<li>String manipulation (splitting by token, finding substrings in $O(n)$ time, building substrings by index, etc.)</li>
		<li>Basic geometry, various famous geometric formulas</li>
		<li>How to sort arrays (using the built-in API), even with custom criteria</li>
	</ul>
	</section>
</section>
<section>
	<section>
	<h3>How Should You Prepare</h3>
	</section>
	<section>
	<p>
	Look at <a href="http://ccscse.org/programming_contest/problems/">old problem sets</a> at work the problems. Make
	sure you run the judging data too! A fun aspect of the contest is that judges write fairly straightforward problems but
	trip you up on weird input.
	</p>
	</section>
	<section>
	<p>
	While you're at it, make note of the style of problems that show up. I'm a judge, and you should know what to expect
	out of me when I write problems. As a note, see if you can figure out which ones I wrote...
	</p>
	</section>
	<section>
	<p>
	Lastly, look at the <a href="http://ccscse.org/progcontest.php?year=28th&info=standings">past standings</a> to get an
	idea of the order other teams solve the set in.
	</p>
	</section>
</section>
{% endblock %}
